<!DOCTYPE html>
<html>

<head>
    <title>Tramites</title>
</head>

<body>
    <!-- <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="logout()">Logout</a>
  </div> -->
    <div class="col-xs-12  col-md-12 col-lg-12 col-xl-12">
        <div class="resultadosBusqueda">

            <div class="row">
                <div class="titulo-de-tramites">
                    <p class="tramites"> Trámites</p>
                </div>

                <div class="box">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search fa-6"></i></span>
                        <input type="search" id="search" [(ngModel)]="filterPost" placeholder="Buscar Tramite..." />
                    </div>
                </div>

                <div class="contenedor-tramites-g col-xl-12">
                    <div class="contenedor-tramites">

                        <!-- <div class="row mt-4">
                                <div class="contenedor-tramite col-lg-9">
                                    <span class="titulo-entidad-detalle">
                                        <a class="mx-auto " href="ReconocimientoPersoneria">
                                            <h3 class="titulo-tramite">Personería Jurídica de organismos deportivos y
                                                recreativos.
                                            </h3>
                                        </a>
                                    </span>
                                    <div class="contendor-descripcion mt-2">Reconocimiento de la personería jurídica de
                                        los organismos
                                        deportivos y recreativos vinculados al sistema nacional del deporte.
                                    </div>
                                    <span class="titulo-entidad">Realizar Tramite:<a target="_blank"
                                            href="ReconocimientoPersoneria">
                                            <span class="titulo-entidad-detalle">Click aquí</span>
                                        </a>
                                    </span>
                                </div>
                                <div class="col info-tramite align-self-end">

                                    <div class="col">
                                        <span class="ico-tramite-linea">
                                            <span class="text-tramites-linea m-4">Trámite en línea</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tramite-con-costo">
                                            <span class="text-tramites m-4">Trámite sin costo</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tiempo">
                                            <span class="text-tramites m-4">Duración 60 días hábiles</span>
                                        </span>
                                    </div>

                                </div>
                            </div>  -->


                        <tr *ngFor="let tramite of listaTramites | filtroTramites:filterPost" class="row mt-4">

                            <div class="contenedor-tramite col-lg-9">
                                <span class="titulo-entidad-detalle">
                                    <a class="mx-auto " href="{{tramite.url}}vista">
                                        <h3 class="titulo-tramite">{{tramite.nombre}}
                                        </h3>
                                    </a>
                                </span>
                                <div class="contendor-descripcion mt-2">{{tramite.descripcion}}
                                </div>
                                <span class="titulo-entidad">Realizar Tramite:<a target="_blank" href="{{tramite.url}}">
                                        <span class="titulo-entidad-detalle">Click aquí</span>
                                    </a>
                                </span>
                            </div>
                            <div class="col info-tramite align-self-end">

                                <div class="col">
                                    <span class="ico-tramite-linea">
                                        <span class="text-tramites-linea m-4">{{tramite.modalidad}}</span>
                                    </span>
                                </div>

                                <div class="col">
                                    <span class="ico-tramite-con-costo">
                                        <span class="text-tramites m-4">{{tramite.costo}}</span>
                                    </span>
                                </div>

                                <div class="col">
                                    <span class="ico-tiempo">
                                        <span class="text-tramites m-4">Duración {{tramite.duracion}} días
                                            hábiles</span>
                                    </span>
                                </div>

                            </div>
                        </tr>
                        <!--<tr *ngFor="let tramite of listaTramites"> 
                                    <td>{{tramite.id}}</td>
                                <td>{{tramite.nombre}}</td>
                                <td>{{tramite.descripcion}}</td>
                                <td>{{tramite.duracion}}</td>
                                <td>{{tramite.costo}}</td>
                                <td>{{tramite.modalidad}}</td>
                                <td>{{tramite.url}}</td>

                              </tr> -->


                        <!-- <div class="row mt-4">
                                <div class="contenedor-tramite  col-lg-9">
                                    <a target="_blank" href="/ficha-tramites-y-servicios/T1033">
                                        <h3 class="titulo-tramite">Inscripción de dignatarios de los organismos
                                            deportivos y recreativos.
                                        </h3>
                                    </a>
                                    <div class="contendor-descripcion mt-2">SInscripción de dignatarios de los
                                        organismos deportivos y
                                        recreativos vinculados al sistema nacional del deporte.
                                    </div>
                                    <span class="titulo-entidad">Realizar Tramite:<a target="_blank"
                                            href="reconocimientopersoneria">
                                            <span class="titulo-entidad-detalle">Click aquí</span>
                                        </a>
                                    </span>
                                </div>
                                <div class="col info-tramite align-self-end">

                                    <div class="col">
                                        <span class="ico-tramite-linea">
                                            <span class="text-tramites-linea m-4">Trámite en línea</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tramite-con-costo">
                                            <span class="text-tramites m-4">Trámite sin costo</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tiempo">
                                            <span class="text-tramites m-4">Duración 60 días hábiles</span>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="contenedor-tramite  col-lg-9">
                                    <a target="_blank" href="/ficha-tramites-y-servicios/T1033">
                                        <h3 class="titulo-tramite">Aprobación de reformas estatutarias</h3>
                                    </a>
                                    <div class="contendor-descripcion mt-2">Aprobación de las reformas estatutarias de
                                        los organismos
                                        deportivos o recreativos vinculados al sistema nacional del deporte.
                                    </div>
                                    <span class="titulo-entidad">Realizar Tramite:<a target="_blank"
                                            href="reconocimientopersoneria">
                                            <span class="titulo-entidad-detalle">Click aquí</span>
                                        </a>
                                    </span>
                                </div>
                                <div class="col info-tramite align-self-end">

                                    <div class="col">
                                        <span class="ico-tramite-linea">
                                            <span class="text-tramites-linea m-4">Trámite en línea</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tramite-con-costo">
                                            <span class="text-tramites m-4">Trámite sin costo</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tiempo">
                                            <span class="text-tramites m-4">Duración 60 días hábiles</span>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="contenedor-tramite  col-lg-9">
                                    <a target="_blank" href="/ficha-tramites-y-servicios/T1033">
                                        <h3 class="titulo-tramite">Cancelación de Personería Jurídica</h3>
                                    </a>
                                    <div class="contendor-descripcion mt-2">Cancelación de la personería jurídica de
                                        ligas y clubes
                                        deportivos.
                                    </div>
                                    <span class="titulo-entidad">Realizar Tramite:<a target="_blank"
                                            href="reconocimientopersoneria">
                                            <span class="titulo-entidad-detalle">Click aquí</span>
                                        </a>
                                    </span>
                                </div>


                                <div class="col info-tramite align-self-end">

                                    <div class="col">
                                        <span class="ico-tramite-linea">
                                            <span class="text-tramites-linea m-4">Trámite en línea</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tramite-con-costo">
                                            <span class="text-tramites m-4">Trámite sin costo</span>
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="ico-tiempo">
                                            <span class="text-tramites m-4">Duración 60 días hábiles</span>
                                        </span>
                                    </div>

                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>