<app-menu-funcionario-gobierno></app-menu-funcionario-gobierno>
<br>
<br>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<div class="container">
    <div id="contenido_box_mensaje_user" class="row">
        <div class="col-12 ">
            <div class="card p-2 border-info">
                <div class="row align-items-center">
                    <div class="col-2 text-center text-info"> <i class="fas fa-user-tie fa-3x "></i></div>

                   <div class="col-10 border-left border-info">
                        <div class="titulo_banner">FUNCIONARIO GOBIERNO</div>
                        
                        
                    </div>
                </div>
            </div>
             <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="contenido_box_usuario_3" class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-datosPersonales o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <div class="mr-5">DATOS PERSONALES</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="DatosPersonalesFung">
                    <span class="float-left">CONSULTAR</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
           <div id="contenido_box_usuario_2" class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-solicitud o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                         <div class="mr-5">SOLICITUDES DE TRAMITES</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="Solicitudesg">
                        <span class="float-left">GESTIONAR</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
     </div>
</div>
<br>
