<app-menu></app-menu>
<!DOCTYPE html>
<!-- utilizara la ultima version de html -->
<html>

<head>
    <meta charset="utf-8" />
    <title>Ingresar</title>
</head>

<body>

    <br><br>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-8 rounded mx-auto bg-white">
                <br>
                <div class="form-group mb-3">
                    <!-- Colocar margin top -->
                    <img alt="" src="assets/Imagenes/lohacemos.png" width="100%">
                </div>

                <form (ngSubmit)="onSubmit()">

                    <div class="container1">
                        <i class="fas fa-check-circle fa-7x" style="color: green"></i>
                        <h3><strong>
                                <span style="font-size:22px">¡Felicitaciones!</span>
                            </strong></h3>

                        <p><span style="font-size:18px">Tu cuenta ha sido activada satisfactoriamente.</span></p>

                    </div>
                    <br>
                    <div style="margin-top: 15px" class="form-group">
                        <div class="input-group mb-3">
                            <input type="submit" name="ButtonLogin" value="Inicio" id="ButtonLogin"
                                class="btn btn-block btn-primary">
                        </div>
                    </div>

                    <br>
                </form>
            </div>
        </div>

    </div>
    <br><br>
</body>

</html>