<app-menu></app-menu>

<!DOCTYPE html>
<!-- utilizara la ultima version de html -->
<html>

<head>
    <meta charset="utf-8" />
    <title>Ingresar</title>
</head>

<body>

    <br><br>
    <div class="container">
        <div class="row">

            <div class="col-md-14 col-sm-8 rounded mx-auto bg-white">
                <br>
                <div class="form-group mb-3">
                    <!-- Colocar margin top -->
                    <img alt="" src="assets/Imagenes/lohacemos.png" width="100%">
                </div>

                <form>

                    <div class="container1">
                        <h3><strong>
                                <span style="font-size:140px"><i class="fas fa-exclamation-triangle fa-1x" style="color: goldenrod"></i>  404</span>
                            </strong></h3>
                        <h3><strong>
                                <span style="font-size:25px">PÁGINA NO ENCONTRADA</span>
                            </strong></h3>
                    </div>
                    <div>
                        <p><span style="font-size:15px">La pagina que buscas no está disponible por una de las
                                siguientes razones: <br> <a style="padding-left:20px;">1. El vinculo que conduce a esta
                                    pagina es incorrecto o demaciado antiguo.</a> <br> <a style="padding-left:20px;">2.
                                    Haz llegado hasta aqui por medio de un marcador vinculado a una pagina que ha
                                    cambiado de hubicación.</a></span></p>
                    </div>
                    <br>
                </form>
            </div>
        </div>

    </div>
    <br><br>
</body>

</html>