<!DOCTYPE html>
<!-- utilizara la ultima version de html -->
<html>


<head>
    <title>Tramite Cancelacion</title>
</head>

<body>

    <div class="content" role="main">
        <div class="col ">
            <table class="table table-bordered tabla-2">
                <thead>
                    <tr class="ui-widget-header thead-blue" role="row">
                        <td class="ui-widget-header thead-blue" colspan="2">
                            <span style="font-size:20px;font-weight:bold;">Cancelación de la personería jurídica de
                                ligas y clubes deportivos</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row">
                        <td role="gridcell" style="width:50%;">¿Cuándo se puede realizar?</td>
                        <td role="gridcell">Cualquier fecha</td>
                    </tr>
                    <tr role="row">
                        <td role="gridcell">¿A dónde ir?</td>
                        <td role="gridcell"><a href="#">Ver
                                puntos de atención</a></td>
                    </tr>
                    <tr role="row">
                        <td role="gridcell">¿Requiere pago?</td>
                        <td role="gridcell">No, es gratuito</td>
                    </tr>
                    <tr role="row">
                        <td role="gridcell">¿Es totalmente en línea?</td>
                        <td role="gridcell">No</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <table class="table table-bordered tabla-2">
                <thead>
                    <tr class="ui-widget-header thead-blue" role="row">
                        <td role="columnheader" class="ui-widget-header thead-blue" colspan="2">
                            <span style="font-size:16px;font-weight:bold;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-chat-square-text" viewBox="0 0 16 16">
                                    <path
                                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                    <path
                                        d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                </svg> Descripción
                            </span>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr role="row">
                        <td role="gridcell" style="width:40%;text-align: justify">Cancelación del reconocimiento legal
                            que se impone a una liga o club deportivo por violación de las normas legales y estatutarias
                            o por disolución de la organización.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <div class="tabs">
                <div class="tab">
                    <input type="checkbox" id="chck0">
                    <label class="tab-label" for="chck0"> <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg> Para realizarlo se necesita:</span> </label>
                    <div class="tab-content">
                        <div class="col">
                            <div class="tabs">
                                <div class="tab">
                                    <input type="checkbox" id="chck01">
                                    <label class="tab-label" for="chck01">1. Reunir los documentos necesarios para realizar el trámite</label>
                                    <div class="tab-content">
                                        <span style="font-weight:bold;">
                                            <h6><img src="assets/Imagenes/documentos.png" alt="" width="29" height="29">
                                                Documentos: <a style="font-weight:normal;">A continuación, se encuentran
                                                    los documentos que debe
                                                    adjuntar para
                                                    realizar
                                                    el trámite ya sea
                                                    para ligas o clubes.</a>
                                            </h6>
                                        </span>

                                        <table class="table table-bordered tabla-2 table-hover">
                                            <thead>
                                                <tr class="ui-widget-header" role="row">
                                                    <td role="columnheader" class="ui-widget-header" colspan="1"><span
                                                            style="font-size:16px;font-weight:bold;">Nombre del
                                                            Documento</span>
                                                    </td>
                                                    <td role="columnheader" class="ui-widget-header" colspan="2"><span
                                                            style="font-size:16px;font-weight:bold;">Descripción</span>
                                                    </td>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr role="row">
                                                    <td role="gridcell" style="width:40%;">Acta de disolución del
                                                        organismo deportivo </td>
                                                    <td role="gridcell" style="text-align: justify">Ingresar</td>
                                                </tr>
                                                <tr role="row">
                                                    <td role="gridcell" style="width:40%;">Relación de socios convocados
                                                        para la disolución de organismos deportivos.
                                                    </td>
                                                    <td role="gridcell" style="text-align: justify">Ingresar</td>
                                                </tr>


                                            </tbody>
                                        </table>


                                    </div>
                                </div>

                                <div class="tab">
                                    <input type="checkbox" id="chck02">
                                    <label class="tab-label" for="chck02">2. Radicar los documentos requeridos</label>
                                    <div class="tab-content">
                                        <span style="font-weight:bold;">
                                            <h6><img src="assets/Imagenes/agente1.png" alt="" height="29"> Canal de
                                                atención</h6>
                                        </span>

                                        <br>
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr class="ui-widget-header" role="row">
                                                    <td role="columnheader" class="ui-widget-header" colspan="1"><span
                                                            style="font-size:16px;font-weight:bold;">Medio</span></td>
                                                    <td role="columnheader" class="ui-widget-header" colspan="2"><span
                                                            style="font-size:16px;font-weight:bold;">Detalle</span></td>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr role="row">
                                                    <td role="gridcell" style="width:40%;">
                                                        <img src="assets/Imagenes/ordenador-portatil.png" alt=""
                                                            width="29" height="29"> Virtual
                                                    </td>
                                                    <td role="gridcell" style="text-align: justify"><a
                                                            href="#">Ingresar</a></td>
                                                </tr>
                                                <tr role="row">
                                                    <td role="gridcell" style="width:40%;">
                                                        <img src="assets/Imagenes/pre.png" alt="" width="29"
                                                            height="29">&nbsp;Presencial
                                                    </td>
                                                    <td role="gridcell" style="text-align: justify"><a href="#">Ver
                                                            puntos de atención</a></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1"> <span><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                height="18" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                <path
                                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path
                                    d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                            </svg> Resultado que se obtiene</span> </label>
                    <div class="tab-content">
                        <img src="assets/Imagenes/estrella.png" alt="" width="29" height="29"> Cancelación de la
                        personería jurídica de ligas y clubes deportivos, que se obtiene en <span
                            style="font-weight: bold;">15 Día(s) - hábil(es)</span>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-11">

                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr class="ui-widget-header" role="row">
                                            <td role="columnheader" class="ui-widget-header" colspan="1"><span
                                                    style="font-size:16px;">Medio por
                                                    donde se obtiene el resultado</span></td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row">
                                            <td td role="gridcell" style="text-align: justify"><img
                                                    src="assets/Imagenes/ordenador-portatil.png" alt="" width="29"
                                                    height="29"> Virtual</td>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck2">
                    <label class="tab-label" for="chck2"> <span><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg> ¿Dónde se puede hacer seguimiento a la solicitud?</span> </label>
                    <div class="tab-content">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="ui-widget-header" role="row">
                                    <td role="columnheader" class="ui-widget-header" colspan="1"><span
                                            style="font-size:16px;font-weight:bold;">Medio</span></td>
                                    <td role="columnheader" class="ui-widget-header" colspan="2"><span
                                            style="font-size:16px;font-weight:bold;">Detalle</span></td>
                                </tr>
                            </thead>

                            <tbody>

                                <tr role="row">
                                    <td role="gridcell" style="width:40%;"><img src="assets/Imagenes/llamada.png" alt=""
                                            width="27" height="27"> Telefónico</td>
                                    <td role="gridcell" style="text-align: justify">Fijo 5800881, Horario de
                                        atención:Lunes
                                        a Viernes: 7:45
                                        a.m. a 12:45 p.m y 2:45
                                        p.m. a 5:45 p.m.</td>
                                </tr>
                                <tr role="row">
                                    <td role="gridcell" style="width:40%;"><img src="assets/Imagenes/email.png" alt=""
                                            width="27" height="27"> Correo</td>
                                    <td role="gridcell" style="text-align: justify"><a
                                            href="mailto:jorgearisti67@hotmail.com"
                                            style="color: #000000;">jorgearisti67@hotmail.com</a></td>
                                </tr>
                                <tr role="row">
                                    <td role="gridcell" style="width:40%;">
                                        <img src="assets/Imagenes/ordenador-portatil.png" alt="" width="29" height="29">
                                        Virtual
                                    </td>
                                    <td role="gridcell" style="text-align: justify"><a href="#">Ingresar</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck3">
                    <label class="tab-label" for="chck3"> <span><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                                <path
                                    d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                                <path
                                    d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                            </svg> Soporte Legal</span> </label>
                    <div class="tab-content">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a target="_blank" href="assets/Archivos/articles-86226_archivo_pdf.pdf">
                                    <img src="assets/Imagenes/ley.png" alt="" width="29" height="29"></a> Decreto Ley
                                1228 de 1995, (Artículo 38)
                            </li>
                            <li class="list-group-item">
                                <a href="assets/Archivos/articles-103490_archivo_pdf.pdf">
                                    <img src="assets/Imagenes/ley.png" alt="" width="29" height="29"></a> Decreto 525 de
                                1990, (Artículos 27, 37, 38, 41, 43)
                            </li>
                            <li class="list-group-item">Otra fuente de consulta: <a
                                    href="http://www.suin-juriscol.gov.co/" target="blank">
                                    <img src="assets/Imagenes/logo_suit.png" alt="logo SUIN">
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck4">
                    <label class="tab-label" for="chck4"><span><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                height="18" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                            </svg> Valorar y Compartir</span> </label>
                    <div class="tab-content">
                        <a class="btn"
                            href="https://www.funcionpublica.gov.co/web/forms/shared/-/form/38369788?_com_liferay_dynamic_data_lists_form_web_portlet_DDLFormPortlet_ddm$$TramiteID$moX04WPt$0$$es_ES=21752&_com_liferay_dynamic_data_lists_form_web_portlet_DDLFormPortlet_ddm$$NombreTramite$eTRlGIDC$0$$es_ES=Inscripci%C3%B3n%20de%20dignatarios%20de%20los%20organismos%20deportivos%20y%20recreativos%20vinculados%20al%20Sistema%20Nacional%20del%20Deporte&_com_liferay_dynamic_data_lists_form_web_portlet_DDLFormPortlet_ddm$$CodigoEntidad$K9SIDqpE$0$$es_ES=4406&_com_liferay_dynamic_data_lists_form_web_portlet_DDLFormPortlet_ddm$$NombreEntidad$Ar1EoH8t$0$$es_ES=GOBERNACI%C3%93N%20DE%20CESAR"
                            role="button">Medicion de experiencia ciudadana.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>