<!DOCTYPE html>
<!-- utilizara la ultima version de html -->
<html>

<footer class=" expand-lg  bg-light" id="footer">
    <br>

    <div class="container">

        <div id="copyright">

            <p style="text-align: center;" class="copytext">
                © 2021 Gobernación del Departamento del Cesar
            </p>

            <!-- BEGIN: Custom advanced (www.pluginaria.com) -->
            <div style="text-align: center;">
                <hr>
                <span style="color: #0d3c61;">
                    <strong>Horario de Atención:</strong>
                </span>&nbsp;
                <span style="color: #000000;">Lunes a Viernes de 07:45 am - 12:45 pm y 02:45 pm - 05:45 pm</span>
            </div>
            <div style="text-align: center;">
                <span style="color: #000000;">
                    <span style="color: #0d3c61;">
                        <strong style="text-align: center;">Dirección:</strong>
                    </span>&nbsp;Calle 16 # 12 - 120 Edificio
                    Alfonso López Michelsen Valledupar - Cesar - Colombia</span>
            </div>
            <div style="text-align: center;">
                <span style="color: #000000;"></span>
                <span>
                    <span style="color: #0d3c61;">
                        <strong>Líneas de Atención a la
                            Ciudadanía:</strong>
                    </span>&nbsp;<span style="color: #000000;">01 8000 954 099 / (575)
                        5748230</span>
                </span>
            </div>
            <div style="text-align: justify;">
                <!-- <div style="text-align: center;">
                    <span style="color: #000000;">
                        <span style="color: #0d3c61;">
                            <strong>Notificaciones Judiciales:</strong>
                        </span>&nbsp;
                        <a href="mailto:notificacionesjudiciales@gobcesar.gov.co"
                            style="color: #000000;">notificacionesjudiciales@gobcesar.gov.co</a>
                    </span>
                </div>
                <div style="text-align: center;">
                    <span style="color: #000000;">
                        <a href="mailto:notificacionesjudiciales@gobcesar.gov.co" style="color: #000000;">
                        </a>
                        <span style="color: #0d3c61;">
                            <strong>Recepción de Facturas:</strong>
                        </span>&nbsp;
                        <a href="mailto:notificacionesjudiciales@gobcesar.gov.co"
                            style="color: #000000;">facturacionelectronica@cesar.gov.co</a></span>
                </div> -->
                <div style="text-align: center;">
                    <span style="color: #000000;">
                        <strong>
                            <span style="color: #0d3c61;">Correo Institucional:</span>
                            &nbsp;</strong>
                        <a href="mailto:contactenos@cesar.gov.co" style="color: #000000;">contactenos@cesar.gov.co</a>
                        &nbsp;</span>
                </div>
                <div style="text-align: center;"><span style="color: #000000;">
                        <span style="color: #0d3c61;">
                            <strong>Código Postal:</strong>&nbsp;</span>200001</span>
                </div>
                <div style="text-align: center;">
                    <span style="color: #000000;">
                        <span style="color: #0d3c61;">
                            <strong>Nit:</strong>
                            &nbsp;</span>892399999-1</span>
                </div>
                <div style="text-align: center;">
                    <strong style="color: #0d3c61;">
                        <a href="https://cesar.gov.co/d/index.php/es/2-uncategorised/2856-artpolpriv"
                            style="color: #0d3c61;">Políticas
                            de Privacidad y Condiciones de Uso de la Información</a>
                    </strong>
                </div>
            </div>
            <div>
                &nbsp;&nbsp;
            </div>
            <div style="text-align: center;">
                <img src="assets/Imagenes/lohacemosm.png" alt="0000 2020 imggbp 01" width="71" height="69">&nbsp; &nbsp;
                <img src="assets/Imagenes/logo_depto_big.png" width="67" height="70">
            </div>
            <br><br>
        </div>
    </div>

    <div id="last-module"
        style="color: rgb(255, 255, 255);width: 100%;background: #36C;background-color: rgb(51, 102, 204);padding: 30px 0;color: rgb(255, 255, 255); background-color: rgb(29, 89, 201);">
        <div style="display: flex; align-items: center;">
            <div
                style="display: flex; margin-left: 60px; width: 300px; justify-content: space-between; align-items: center;">
                <img src="assets/Imagenes/co-colombia.png" style="width: 60px;" alt="">
                <div style="height: 66px;width: 1px;background: #fff;">
                </div>
                <img src="assets/Imagenes/logo-gov-w.svg" alt="">
            </div>
        </div>
    </div>
</footer>

</html>